
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="anchor-content" class="middle">
    <div id="page:main-container">
        <div id="messages"><ul class="messages"></ul></div>
        <div>
            <h1>Hệ thống quản trị education.com</h1>
        </div>
    </div>
</div>