
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="main-form">
        <!--Begin Form-->
       <h2>Đăng ký tài khoản forum ngay</h2>
    <p>
        Để học tập và giao lưu với hàng triệu học viên trên mọi miền đất nước.
    </p>
    <div class="row-signup">
        <input id="name" name="name" value="" placeholder="Họ và tên" type="text" />
    </div>
    <div class="row-signup">
        <input id="emailtxt" name="emailtxt" value="" placeholder="Email" type="text" />
    </div>

    <div class="row-signup">
        <div class="password-left">
            <input id="passwordtxt" name="passwordtxt" value="" placeholder="Mật khẩu" />
        </div>
        <div class="password-right">
            <input id="repasswordtxt" name="repasswordtxt" value="" placeholder="Xác nhận mật khẩu" />
        </div>
    </div>
    <div class="clear-both">
    </div>
    <div class="row-signup">
        <input class="submit-register-btn" value="đăng ký" type="submit" />
    </div>
    <div class="row-signup">
        <div class="light-hight-left"></div>
        <span class="or-txt">hoặc</span>
        <div class="light-hight-right"></div>
    </div>
    <div class="row-signup">
        <div class="other-login-txt">Đăng ký nhanh bằng:</div>
    </div>
    <div class="row-signup">
        <div class="other-login-btn-facebook-btn">
            <a class="facebook">
                <img src="~/Assets/Client/Images/Authorization/register-btn-facebook.png" alt="" />
            </a>
        </div>
        <div class="other-login-btn-google-plus-btn">
            <a class="facebook">
                <img src="~/Assets/Client/Images/Authorization/register-btn-google.png" alt="" />
            </a>
        </div>
        <div class="other-login-btn-yahoo-btn">
            <a class="facebook">
                <img src="~/Assets/Client/Images/Authorization/register-btn-yahoo.png" alt="" />
            </a>
        </div>
    </div>
</div>
</div>