@model Education.Areas.Admin.Model.AppUser

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="side-bar">
        <div class="img">
            <img src="~/Assets/Client/Images/Account/limbo.png" width="200" height="200" alt="" />
            <h3>Le Duy Tung</h3>
        </div>
        <ul class="list-page">
            <li>
                <div class="page">
                    <img src="~/Assets/Client/Images/Account/personinformation.png" alt="">
                    <a href="">Thông tin cá nhân</a>
                </div>
            </li>
            <li>
                <div class="page">
                    <span class="ti-pencil-alt"></span>
                    <a href="">Danh sách bài viết</a>
                </div>
            </li>
            <li>
                <div class="page">
                    <img src="~/Assets/Client/Images/Home/lession.png" alt="" style="margin-left: 20px;">
                    <a href="">Danh sách bài giảng</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="main-form">
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Username)
                </td>
                <td>
                    <span>@Model.Username</span>
                </td>
            </tr>
            <tr>
                <td>Địa chỉ:</td>
                <td>Quảng Bình</td>
            </tr>
            <tr>
                <td>Điện thoại:</td>
                <td> 01697764014</td>
            </tr>
            <tr>
                <td>Địa chỉ Email:</td>
                <td>tranloc9795@gmail.com</td>
            </tr>
            <tr>
                <td>Tên trường:</td>
                <td>THPT Hoàng Hoa Thám</td>
            </tr>
            <tr>
                <td>Lớp:</td>
                <td>8</td>
            </tr>
        </table>
        <div class="row">
            <div class="col-xs-12">
                <a href="@Url.Action("Edit", "Account", new { id = Model.Id})" class="btn btn-default">Cập nhật thông tin</a>
            </div>
        </div>
    </div>
</div>

