
@{
    ViewBag.Title = "Posts";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="side-bar">
        <div class="img">
            <img src="~/Assets/Client/Images/Account/limbo.png" width="200" height="200" alt="" />
        </div>
        <p>Le Duy Tung</p>
        <ul>
            <li>
                <div>
                    <img src="~/Assets/Client/Images/Account/personinformation.png" alt="">
                    <a href="">Thông tin cá nhân</a>
                </div>
            </li>
            <li>
                <span class="ti-pencil-alt"></span>
                <a href="">Danh sách bài viết</a>
            </li>
            <li>
                <img src="~/Assets/Client/Images/Home/lession.png" alt="">
                <a href="">Danh sách bài giảng</a>
            </li>
        </ul>
    </div>
    <div class="main-form">
        <p>Danh sách bài viết đã đăng</p>
        <table>
            <tr >
                <th class="tb-image">Ảnh</th>
                <th class="tb-post">Tên bài viết</th>
                <th class="tb-cm">Tên chuyên mục</th>
                <th class="tb-time">Thời gian đăng</th>
            </tr>
            <tr>
                <td >
                    <img src="~/Assets/Client/Images/Account/limbo.png" width="50" height="50" alt="" />
                </td>
                <td >Bài viết 1</td>
                <td >Chuyên mục 1</td>
                <td >05/12/2016 11: 10 AM</td>
            </tr>
            <tr>
                <td >
                    <img src="~/Assets/Client/Images/Account/limbo.png" width="50" height="50" alt="" />
                </td>
                <td >Bài viết 1</td>
                <td >Chuyên mục 1</td>
                <td >05/12/2016 11: 10 AM</td>
            </tr>
        </table>
    </div>
</div>

