@import "../Module/common";
@import "../Module/header";
@import "../Module/footer";
@import "/Content/themify/css/themify-icons.css";
@import "/Content/font-awesome/css/font-awesome.css";

$wihte-form: 535px;
body{
       background-color: #f9f9f9;
}
.container {
 
    width: 100%;
    height: 100%;

    .main-form {
        width: 535px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;

       h2{
            /*margin-left:10px;*/
            color: #5fb2a8;
            text-align:center;
        
        }

        p{
            font-size: 17px;
            margin-bottom: 30px;
        }
        .row-signup {
            margin-bottom: 20px;


            input {
                width: 100%;
                height: 36px;
                border-radius: 4px;
                border: 1px;
                border-color: #9f978e;
                border-style: solid;
                padding-left:10px;
            }

            .submit-register-btn {
                height: 50px;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 20px;
                color: white;
                background-color: #5fb2a8;
                border-radius: 8px;
            }

            .password-left {
                width: 46%;
                float: left;
            }

            .password-right {
                width: 46%;
                margin-right: 0px;
                float: right;
            }

            .light-hight-left {
                border-top: 1px solid #a9a9a9;
                width: 43%;
                margin-top: 10px;
                float: left;
            }

            .or-txt {
                margin-left: 10px;
            }

            .light-hight-right {
                border-top: 1px solid #a9a9a9;
                width: 43%;
                margin-top: 10px;
                margin-right: 23px;
                float: right;
            }

            .other-login-txt {
                text-align: center;
            }

            .other-login-btn-facebook-btn{
                float: left;
                margin-right: 2px;
                margin-left:6px;
            }

            .other-login-btn-google-plus-btn {
                float: right;
                margin-right:6px;
            }

            .other-login-btn-yahoo-btn {
                float: left;
            }
        }

        .clear-both {
            clear: both;
            height: 40px;
        }
    }
}
