
@{
    ViewBag.Title = "Index";
    //Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="list-posts">
            <div class="row">
                <div class="post col-md-12">
                    <div class="header-post">
                        <span class="profile-post img img-circle" alt="Image"></span>
                        <label class="author-post">Nguyen Văn A <span style="padding-left: 10px" class="date-post">12h40 22/12/2016</span></label>

                    </div>
                    <div class="img-post">
                        <img src="../images/download.jpg" class="img-post img-responsive" alt="Image">
                    </div>
                    <div class="content-post">
                        <a href="" class="link-post">
                            Samsung Galaxy S7 Edge có chỉ số SAR thấp nhất trong số các smartphone phổ biến
                        </a>
                        <p class="desciption-post">
                            Theo đó, Galaxy S7 Edge có chỉ số SAR đạt mức 0,264 W/kg (tức là 0,264W hấp thụ / 1kg trọng lượng cơ thể), thấp nhất trong tất cả các smartphone phổ biến hiện nay. Asus Zenfone 3 là điện thoại "an toàn" tốt thứ hai sau S7 Edge với chỉ số SAR ở mức 0m278 W/kg.
                        </p>
                    </div>
                    <div class="soicial-post">
                        <span class="facebook"><i class="facebook fa fa-facebook "></i>Facebook</span>
                        <span class="share"><i class="fa fa-share-square-o"></i>Share</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


